<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            Menu de navegação
        </nav>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{url_for('agendar')}}">Agendar</a></li>
                <li><a href="">Contato</a></li>
                <li><a href="">Lista de servicos</a></li>
            </ul>
        </div>
    </header>
    {% block conteudo %}

    {% endblock %}
</body>
</html>