<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            Menu de navegação
        </nav>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Agendar</a></li>
                <li><a href="">Contato</a></li>
                <li><a href="">Lista de servicos</a></li>
            </ul>
        </div>
    </header>
    {% extends 'base.html' %}

    {% block conteudo %}
    <h1>Pagina inicial</h1>
    {% endblock%}

</body>
</html>